<a href="https://colab.research.google.com/github/mukul27wno/Android-Studio/blob/main/recommendation_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Setup

In [14]:
#link with google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
cd '/content/drive/MyDrive/Machine Learning/Mosahaya'

/content/drive/My Drive/Mukul/Machine Learning/Mosahaya

In [4]:
ls

 enrolled.csv                              'recommendation 1.ipynb'
'paraphrase-distilroberta-base-v1 cache'/

In [16]:
import pandas as pd #working with csv or excel files
import numpy as np #working with numbers/ arrays/ tensors
import tensorflow as tf #framework
from tensorflow import keras #API / library 
import os #using os commands between the python language

In [80]:
df=pd.read_csv("enrolled.csv") #load csv file as dataframe

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
df.tail(10)

        Unnamed: 0  ...                                             second
176569      176569  ...                       (odisha)","bhadrak (odisha)"
176570      176570  ...                                                NaN
176571      176571  ...                   (odisha)","bhubaneswar (odisha)"
176572      176572  ...                                          (odisha)"
176573      176573  ...                                          (odisha)"
176574      176574  ...                                          (odisha)"
176575      176575  ...                                       (karnataka)"
176576      176576  ...                                          (odisha)"
176577      176577  ...                                          (odisha)"
176578      176578  ...  (maharashtra)","greater mumbai (maharashtra)",...

[10 rows x 13 columns]

In [34]:
df.head(10)

   Unnamed: 0  ...                                             second
0           0  ...                                            odisha"
1           1  ...                                mumbai maharashtra"
2           2  ...                           odisha","talcher odisha"
3           3  ...                                mumbai maharashtra"
4           4  ...                                            odisha"
5           5  ...                           odisha","talcher odisha"
6           6  ...                 odisha","singrauli madhya pradesh"
7           7  ...  odisha","talcher odisha","singrauli madhya pra...
8           8  ...                                            odisha"
9           9  ...                                            odisha"

[10 rows x 13 columns]

#Data Processing

In [71]:
print(f'age: {df["generalData.age"].sort_values().unique()} \n')
print(f'pincode: {df["generalData.pinCode"].unique()} \n')
print(f'education: {df["skillData.education"].unique()} \n')
print(f'sectors: {df["skillData.sectors"].unique()} \n')
print(f'skills: {df["skillData.skills"].unique()} \n')

age: [  3   5   6   9  12  14  15  16  17  18  19  20  21  22  23  24  25  26
  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44
  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62
  64  65  66  69  70  72  73  77  79  80 100]

pincode: [751003 752107 757041 ... '600113' '766011' '759020']

education: ['graduate' 'passed secondary (class 10th)'
 'passed higher secondary (Class 12th)' ... '!0th' 'BA Pass' '12th  Pass']

sectors: ['"agriculture"' '"manufacturing & heavy engineering","others"'
 '"construction & real estate"' ...
 '"healthcare & pharmaceuticals","home services","private security"'
 '"construction & real estate","professional & other services","others"'
 '"banking, financial services & insurance","education & skill development","it & ites","media & entertainment","telecommunication"']

skills: ['"poultry farmer"' '"dairy farmer"' '"others"' ... '"astrologer"'
 '"cargo handler","warehouse associate","supply chain manager"'
 '"computer operator","data entry operator","database administrator","it consultant","social media executive","accountant","marketing executive","receptionist","sales executive"']

In [83]:
print(f'There are {len(df.columns)} columnd in the dataframe df name')
print(df.columns)
print(df.shape)

There are 13 columnd in the dataframe df name
Index(['Unnamed: 0', 'Unnamed: 0.1', 'enrollmentId', 'generalData.name',
       'generalData.age', 'generalData.mobileNumber', 'generalData.pinCode',
       'skillData.education', 'skillData.preferredLocations',
       'skillData.sectors', 'skillData.skills', 'first', 'second'],
      dtype='object')
(176579, 13)

In [87]:
df=pd.read_csv("enrolled.csv")


def cleaner(df=df):
  states=[]
  locations=df["skillData.preferredLocations"].values
  import re #Regular expression operations

  for i in locations:
      res = re.findall(r'\(.*?\)',i)
      res=list(set(res))
      states.append(res)
      
  for i in states:
      for j in range((len(i))):
          i[j]=re.sub(r"[^a-zA-Z0-9]","",i[j])

  states_array=[]
  for i in states:
    str=""
    length=len(i)
    if length==1:
      str=str+i[0]
    if length>1:
      for j in i:
        str=str+", "+j
      str=str[2:]
    states_array.append(str)
  #----------------------------------------------------------------------------------------------------------------------------------------
  skills_array=[]
  skills= df["skillData.skills"].values
  for i in skills:
    i=i.replace('"', "")
    i=i.replace(",", ", ")
    skills_array.append(i)
  #----------------------------------------------------------------------------------------------------------------------------------------
  sectors_array=[]
  sectors= df["skillData.sectors"].values
  for i in sectors:
    i=i.replace('"', "")
    i=i.replace(",", ", ")
    sectors_array.append(i)

  df["skills"]=skills_array
  df["sectors"]=sectors_array
  df["states"]=states_array
  df=df.drop(["skillData.skills", "skillData.sectors"], axis=1)
  df=df.drop(["enrollmentId", "skillData.preferredLocations", "first", "second"], axis=1)
  return df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [85]:
df=cleaner(df)

In [89]:
# Filling NaNs with empty string
df['skills'] = df['skills'].fillna('')
df['sectors'] = df['sectors'].fillna('')
df['states'] = df['states'].fillna('')
df.reset_index()
from sentence_transformers import SentenceTransformer

KeyError: ignored

In [90]:
model = SentenceTransformer('paraphrase-distilroberta-base-v1', cache_folder="E:\Mosahaya\paraphrase-distilroberta-base-v1 cache")

NameError: ignored

In [91]:
descriptions = df['sectors'].tolist()
# print(descriptions)
des_embeddings = []
c=0
for i,des in enumerate(descriptions):
    des_embeddings.append(model.encode(des))
    print(c)
    c+=1

KeyError: ignored

In [ ]:
import torch
from sentence_transformers import SentenceTransformer, util

def recommend(query):
    #Compute cosine-similarities with all embeddings 
    query_embedd = model.encode(query)
    cosine_scores = util.pytorch_cos_sim(query_embedd, des_embeddings)
    top5_matches = torch.argsort(cosine_scores, dim=1,descending=True).tolist()[0][1:20]
    return top5_matches

In [ ]:
sectors = 'agriculture'
#skills="farmer"
#states="odisha"
query_show_des = df.loc[(df['sectors'] == sectors)]['generalData.name'].to_list()[0]
recommendded_results = recommend(query_show_des)

indices = []
for index in recommendded_results:
    indices.append(index)

df = df.iloc[indices]
df